pandas~=2.2.2
numpy~=1.26.4
matplotlib~=3.9.2
nltk~=3.9.1
scikit-learn~=1.5.2
wordcloud~=1.9.4
seaborn~=0.13.2
requests~=2.32.3
torch~=2.5.1
transformers~=4.45.2
tqdm~=4.67.1
bs4~=0.0.2
beautifulsoup4~=4.12.3
streamlit~=1.40.2